<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Fácil - Encontre Promoções Imperdíveis em Jogos e Acessórios</title>
    
    <!-- Meta tags SEO -->
    <meta name="description" content="Descubra as melhores promoções e descontos em jogos, consoles e acessórios para gamers. Game Fácil conecta você às melhores ofertas online!">
    <meta name="keywords" content="promoções de jogos, descontos em games, acessórios gamer baratos, consoles em oferta, cupons de desconto para jogos, ofertas de games, mercado livre promoções, amazon descontos gamer, produtos gamer baratos">
    <meta name="author" content="Game Fácil">
    <meta name="robots" content="index, follow">
    <meta name="og:title" content="Game Fácil - Promoções em Jogos e Acessórios Gamer">
    <meta name="og:description" content="Conectamos você às melhores ofertas e promoções de produtos gamer em lojas confiáveis.">
    <meta name="og:image" content="{{ url_for('static', filename='imagem/share-image.png') }}">
    <meta name="og:url" content="{{ url_for('main.home', _external=True) }}">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Game Fácil - Promoções em Jogos e Acessórios">
    <meta name="twitter:description" content="Encontre os melhores preços em jogos, consoles e acessórios.">
    <meta name="twitter:image" content="{{ url_for('static', filename='imagem/share-image.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagem/favicon.ico') }}" type="image/ico">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B689P250BQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-B689P250BQ');
    </script>
</head>
<body>
    <header>
        <div class="central">
            <a id="logo-site" href="{{ url_for('main.home') }}">Game Fácil</a>
            <input type="search" name="pesquisar" id="campo-de-pesquisar" placeholder="Digite sua busca...">
            <a id="add-grupos" href="https://chat.whatsapp.com/GRTG6XYNX5nLWB9Gz8exLc">Grupo Whatsapp</a>
           
            <a id="cupons" href="https://chat.whatsapp.com/GRTG6XYNX5nLWB9Gz8exLc">Cupons</a>
        </div>
    </header>

    <div class="contener">
        <h3>Lojas em promoção:</h3>
        <div class="promo-item">
            <a href="{{ url_for('main.mercado_livre') }}">
                <img src="{{ url_for('static', filename='imagem/mercado-livre.png') }}" alt="Promoções no Mercado Livre">
                <p class="promo-name">Mercado Livre</p>
            </a>
        </div>
        <div class="promo-item">
            <a href="#">
                <img src="{{ url_for('static', filename='imagem/amazon.svg') }}" alt="Promoções na Amazon">
                <p class="promo-name">Amazon</p>
            </a>
        </div>
    </div>

    <div class="ofertas">
        <h3>Confira as últimas que acabaram de entrar:</h3>
        <div class="promo-grid promo-borda">
            {% for product in mercado_livre %}
            <div class="promo-item">
                <img src="{{ product.thumbnail }}" alt="{{ product.title }}">
                <div class="promo-details">
                    <a href="{{ product.permalink }}" target="_blank">
                        <p class="promo-name">{{ product.title }}</p>
                        <p class="promo-price">Por R$ {{ product.price }}</p>
                        <p class="promo-company">Vendido por: Mercado Livre</p>
                    </a>
                </div>
            </div>
            {% endfor %}
            
            {% for product in produto %}
            <div class="promo-item">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail">
                <div class="promo-details">
                    <a href="#" target="_blank">
                        <p class="promo-name">{{ product.name }}</p>
                        <p class="promo-price">Por R$ {{ product.value }}</p>
                        <p class="promo-company">Vendido por: {{ product.cashback }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="rodape">
        <div class="footer-content">
            <p>© {{ year }} Game Fácil. Todos os direitos reservados.</p>
            <p>Este site não realiza vendas diretas. Nosso objetivo é conectar você às melhores promoções e cupons disponíveis online.</p>
            <ul>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
